<div ng-controller="listing" class="pages">
	<!-- Page, "data-page" contains page name -->
	<div data-page="activity" class="page toolbar-fixed navbar-fixed" data-page="tabs-animated">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link icon-only open-panel"><i class="f7-icons color-deepblue">bars</i></a>
				</div>
				<div class="center"><a href="index.html"><img src="img/logo-navbar@1x.png" alt="AG"/></a></div>
				<div class="right">
					<a href="tabs.html" class="back link" data-force="true"><i class="f7-icons color-deepblue">arrow_left</i></a>
				</div>
			</div>
		</div>
		
		<div class="listing-container">
			<div class="content-block">
				<div class="list-block inset">
					<ul>
						<li>
							<a href="single.html" class="item-link list-button">
								<img class="listing-icon" src="img/icon-text@1x.png" alt="Text" />
								<h2 class="listing-title">Lorem Ipsum is simply dummy text.</h2>
								<p class="listing-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</a>
						</li>
						<li>
							<a href="single.html" class="item-link list-button">
								<img class="listing-icon" src="img/icon-text@1x.png" alt="Text" />
								<h2 class="listing-title">Lorem Ipsum is simply dummy text.</h2>
								<p class="listing-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</a>
						</li>
						<li>
							<a href="single.html" class="item-link list-button">
								<img class="listing-icon" src="img/icon-text@1x.png" alt="Text" />
								<h2 class="listing-title">Lorem Ipsum is simply dummy text.</h2>
								<p class="listing-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</a>
						</li>
						<li>
							<a href="single.html" class="item-link list-button">
								<img class="listing-icon" src="img/icon-text@1x.png" alt="Text" />
								<h2 class="listing-title">Lorem Ipsum is simply dummy text.</h2>
								<p class="listing-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	
	</div>
</div>